#popup {
  position: fixed; 
  z-index: 3000; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

#popup .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
#popup .container a {
  margin: auto;
  width: auto;
  text-decoration: none;
}
#popup .popup-content {
  margin: auto;
  display: inline-block;
  max-width: 700px;
}

#popup .close {
  position:absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#popup .close:hover,
#popup .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px){
  #popup .popup-content {
      width: 100%;
  }
}